<ion-content>
    <ion-grid>
        <ion-row>
            <button ion-button menuToggle clear start button_top>
        <ion-icon name="md-menu"></ion-icon>
      </button>
            <ion-col col-12 logo>
                <img class="img_logo" src="/src/assets/imgs/logo-1.png" alt="Eastern Deals">
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-segment [(ngModel)]="loginpage" segment_two>
        <ion-segment-button value="login" (click)="reset_login()" [ngClass]="{'font_family_1_ta':code == 'ta'}">
            {{languagefield.login}}
        </ion-segment-button>
        <ion-segment-button value="signup" (click)="reset_signup()" [ngClass]="{'font_family_1_ta':code == 'ta'}">
            {{languagefield.signup}}
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="loginpage">
        <ion-list *ngSwitchCase="'login'">
            <ion-card class="card_back">
                <ion-card-content card_cont_1>
                    <ion-card-title></ion-card-title>
                </ion-card-content>
            </ion-card>
            <form [formGroup]="LoginForm" *ngIf="login_form">
                <ion-card class="log_form">
                    <ion-list>
                        <div class="equal_height">
                            <ion-item class="log_form_item">
                                <ion-label stacked [ngClass]="{'font_family_ta':code == 'ta'}">{{languagefield.contact_number}} / {{languagefield.email}}</ion-label>
                                <ion-input type="text" class="form_input" formControlName="username"></ion-input>
                            </ion-item>

                            <div class="validation-errors">
                                <div *ngFor="let validation of validation_messages.username">
                                    <ion-item class="error-message" err_mesg *ngIf="LoginForm.get('username').hasError(validation.type) && (LoginForm.get('username').dirty || LoginForm.get('username').touched)">
                                        {{ validation.message }}
                                    </ion-item>
                                </div>
                            </div>
                        </div>
                        <div class="equal_height">
                            <ion-item class="log_form_item">
                                <ion-label stacked [ngClass]="{'font_family_ta':code == 'ta'}">{{languagefield.password}}</ion-label>
                                <ion-input type="{{input_password}}" clearOnEdit="false" class="form_input password" formControlName="password"></ion-input>
                            </ion-item>
                            <div text-right>
                                <ion-icon name="eye-off" icon_position item-right tappable *ngIf="input_password == 'password'" (click)="showpassword()"></ion-icon>
                                <ion-icon name="eye" icon_position item-right tappable *ngIf="input_password == 'text'" (click)="hidepassword2()">
                                </ion-icon>
                            </div>
                            <div class="validation-errors">
                                <div *ngFor="let validation of validation_messages.password">
                                    <ion-item class="error-message" err_mesg *ngIf="LoginForm.get('password').hasError(validation.type) && (LoginForm.get('password').dirty || LoginForm.get('password').touched)">
                                        {{ validation.message }}
                                    </ion-item>
                                </div>
                            </div>
                        </div> 

                        <span class="err_mesg_degn">{{error_mesg}}</span>
                    </ion-list>
                    <div class="center">
                        <button ion-button icon-end class="login_button" tappable (click)="login()" [disabled]="LoginForm.invalid">{{languagefield.login}}
              <ion-icon name="arrow-round-forward"></ion-icon></button></div>
                </ion-card>
            </form>
            <!-- <form [formGroup]="Otpfrom" *ngIf="otp_details_1">
        <ion-card class="log_form">
          <p padding> * OTP will be sending to the register mobile number.please enter the OTP number below for
            registration</p>
          <ion-list>
            <ion-item class="">
              <ion-label stacked>Enter OTP</ion-label>
              <ion-input type="text" class="form_input" formControlName="otp"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <div *ngFor="let validation of validation_messages.otp">
                <ion-item class="error-message" err_mesg
                  *ngIf="Otpfrom.get('otp').hasError(validation.type) && (Otpfrom.get('otp').dirty || Otpfrom.get('otp').touched)">
                  {{ validation.message }}
                </ion-item>
              </div>
            </div>
          </ion-list>
          <div class="center" text-center>
            <button ion-button icon-end class="login_button" tappable (click)="otp_verify(1)">
              Submit
            </button></div>
        </ion-card>
      </form> -->
        </ion-list>
        <ion-list *ngSwitchCase="'signup'">
            <ion-card class="card_back_1">
                <ion-card-content card_cont_2>
                    <ion-card-title></ion-card-title>
                </ion-card-content>
            </ion-card>
            <form [formGroup]="SignUpForm" *ngIf="basic_detail">
                <ion-card class="log_form" card_contn>
                    <div class="equal_height">
                        <ion-item class="">
                            <ion-label stacked>{{languagefield.name}}</ion-label>
                            <ion-input type="text" class="form_input" formControlName="first_name"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <div *ngFor="let validation of validation_messages.first_name">
                                <ion-item class="error-message" err_mesg *ngIf="SignUpForm.get('first_name').hasError(validation.type) && (SignUpForm.get('first_name').dirty || SignUpForm.get('first_name').touched)">
                                    {{ validation.message }}
                                </ion-item>
                            </div>
                        </div>
                    </div>
                    <div class="equal_height">
                        <ion-item class="">
                            <ion-label stacked>{{languagefield.contact_number}}</ion-label>
                            <ion-input type="number" class="form_input" formControlName="mobile_number"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <div *ngFor="let validation of validation_messages.mobile_number">
                                <ion-item class="error-message" err_mesg *ngIf="SignUpForm.get('mobile_number').hasError(validation.type) && (SignUpForm.get('mobile_number').dirty || SignUpForm.get('mobile_number').touched)">
                                    {{ validation.message }}
                                </ion-item>
                            </div>
                        </div>
                    </div>
                    <div class="equal_height">
                        <ion-item class="">
                            <ion-label stacked>{{languagefield.email}} ({{languagefield.optional}})</ion-label>
                            <ion-input type="email" class="form_input" formControlName="email"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <div *ngFor="let validation of validation_messages.email">
                                <ion-item class="error-message" err_mesg *ngIf="SignUpForm.get('email').hasError(validation.type) && (SignUpForm.get('email').dirty || SignUpForm.get('email').touched)">
                                    {{ validation.message }}
                                </ion-item>
                            </div>
                        </div>
                    </div>
                    <div class="center" text-center>
                        <button ion-button icon-only tappable class="login_button" [disabled]="SignUpForm.get('first_name').invalid || SignUpForm.get('mobile_number').invalid " (click)="details()">
                                <ion-icon name="md-arrow-forward"></ion-icon>
            </button></div>
                </ion-card>
            </form>
                  <form [formGroup]="SignUpForm" *ngIf="password_detail">
        <ion-card class="log_form">
         
          <div class="equal_height">
            <ion-item class="">
              <ion-label stacked>{{languagefield.password}}</ion-label>
              <ion-input type="password" class="form_input" clearOnEdit="false" type="{{input_password}}" formControlName="new_password"></ion-input>
            </ion-item>
       
            <div class="validation-errors">
              <div *ngFor="let validation of validation_messages.new_password">
                <ion-item class="error-message" text-wrap err_mesg
                  *ngIf="SignUpForm.get('new_password').hasError(validation.type) && (SignUpForm.get('new_password').dirty || SignUpForm.get('new_password').touched)">
                  {{ validation.message }}
                </ion-item>
              </div>
            </div>
          </div>
          <div class="equal_height">
            <ion-item class="">
              <ion-label stacked>{{languagefield.confirm_pwd}}</ion-label>
              <ion-input type="password" class="form_input" clearOnEdit="false" type="{{input_password}}" formControlName="confirm_password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <div *ngFor="let validation of validation_messages.confirm_password">
                <ion-item class="error-message" err_mesg
                  *ngIf="SignUpForm.get('confirm_password').hasError(validation.type) && (SignUpForm.get('confirm_password').dirty || SignUpForm.get('confirm_password').touched)">
                  {{ validation.message }}
                </ion-item>
              </div>
            </div>
          </div>
      
          <div class="center" text-center>
                <ion-item padding checkbox no-line>
                        <ion-label *ngIf="input_password ==  'password'" [ngClass]="{'font_family_1_ta':code == 'ta'}">{{languagefield.show_password}}</ion-label>
                        <ion-label *ngIf="input_password ==  'text'" [ngClass]="{'font_family_1_ta':code == 'ta'}">{{languagefield.hide_pwd}}</ion-label>
                        <ion-checkbox checked="false" (ionChange)="hidepassword2($event)"></ion-checkbox>
                      </ion-item>
            <button ion-button icon-only class="login_button_1" (click)="back1()">
              <ion-icon name="md-arrow-back" padding-right>
              </ion-icon>
            </button>
            <button ion-button icon-end class="login_button"
              [disabled]="SignUpForm.get('first_name').invalid || SignUpForm.get('mobile_number').invalid || SignUpForm.get('new_password').invalid || SignUpForm.get('confirm_password').invalid"
              (click)="verify()">
            {{languagefield.verify_otp}}
            </button></div>
        </ion-card>
      </form>
            <form [formGroup]="Otpfrom" *ngIf="otp_details">
                <ion-card class="log_form">
                    <p padding> * You will get OTP to your registered Mobile Number or email ID . To complete the registration Process, enter the OTP below</p>
                    <ion-list>
                        <ion-item class="">
                            <ion-label stacked>{{languagefield.otp}}</ion-label>
                            <ion-input type="number" class="form_input" formControlName="otp" minlength="6" maxlength="6" autocomplete="one-time-code"></ion-input>
                        </ion-item>
                        <!-- <div [hidden]="!Otpfrom.get('otp').hasError('minlength')">Mobile should be 10digit</div> -->
                        <div class="validation-errors">
                            <div *ngFor="let validation of validation_messages.otp" padding-left>
                                <ion-item class="error-message" err_mesg *ngIf="Otpfrom.get('otp').hasError(validation.type) && (Otpfrom.get('otp').dirty || Otpfrom.get('otp').touched)">
                                    {{ validation.message }}
                                </ion-item>
                            </div>
                        </div>
                    </ion-list>
                    <div class="center" text-center>
                        <button ion-button icon-end class="login_button" [disabled]="Otpfrom.invalid" tappable (click)="otp_verify()">
              {{languagefield.submit}}
            </button></div>
                </ion-card>
            </form>
        </ion-list>
    </div>
</ion-content>
<ion-footer no-border *ngIf="keyboardCheck()">
    <ion-toolbar>
        <div class="forgot" tappable (click)="Forgot()">{{languagefield.forgot_pwd}}?</div>
    </ion-toolbar>
</ion-footer>