<!--
  Generated template for the EmailOtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 logo>
        <img class="img_logo" src="/src/assets/imgs/logo-1.png" alt="Eastern Deals">
      </ion-col>
    </ion-row>
  </ion-grid>
    <!-- ======================================================= OTP VERIFICATION STARTS HERE ================================================-->
    <form [formGroup]="verifyForm"   class="otpcard" relative>
      <ion-card class="card_back">
        <ion-card-content>
          <ion-card-title>{{languagefield.email_otp}}</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card class="log_form">
        <ion-card-content>
          <p> You will get OTP to your registered email ID.Enter the OTP below.</p>
          <ion-list>					
            <div class="equal_height">
              <ion-item class="log_form_item">
                <ion-label stacked>{{languagefield.otp}}</ion-label>
                <ion-input type="number" class="form_input" formControlName="otp" minlength="6" maxlength="6" autocomplete="one-time-code"></ion-input>
              </ion-item>
            </div>
          </ion-list>
          <div class="center">
              <button ion-button icon-end class="login_button" tappable (click)="mobile_verify()"
           > <ion-icon name="arrow-round-back"></ion-icon> </button>
            <button ion-button icon-end class="login_button" tappable (click)="otp_verify()"
              [disabled]="verifyForm.invalid">{{languagefield.submit}} </button>
            </div>
        </ion-card-content>
      </ion-card>
    </form>
    <!-- ======================================================= OTP VERIFICATION ENDS HERE ================================================-->
</ion-content>
<!-- <ion-footer no-border>
  <div class="forgot" tappable (click)="toLogin()">Login</div>
</ion-footer> -->