page-email-otp {
     ion-content{
    .scroll-content{
        padding:0 !important;
        ion-grid{
          height: 150px;
      }
    [logo]{
        position: relative;
        height: 130px;

    .img_logo{
        width:60%;
        left:0;
        right:0;
        position: absolute;
        margin:0 auto;
        text-align: center;
        top: 20px;

    }
}
    [relative]{
        position: relative;
        top:0;

        }
    .card_back{
        position: absolute;
        height: 42rem;
        width: calc(100% - 141px);
        margin:0;
        top:0px;
        border-bottom-right-radius: 65px;
        border-top-right-radius: 65px;
        background-image: $bg_color;
        ion-card-content{
            ion-card-title{
                color:$color1;
                font-size: 23px;
                .sign{
                    float: right;
                }
            }
  
        }
    }
    .log_form{
        position: absolute;
        top: 75px;
        animation: yourAnimation3 1s 1 0s ease;

        padding:0px 5px;
        margin: 0px 24px 0 12px;
        .list-ios > .item-block:first-child, .list-ios > .item-block:last-child, .list-md .item-input:last-child, .list-md .item-input:last-child:focus {
            border-top: 0;
            border-bottom: 0;
              box-shadow:none;
       
        }
        .log_form_item{
            padding:10px 0px;   
    }
    .form_input{
        border-bottom: 1px solid $primary;
    }
    .center{
        text-align: right;
        margin:5px 0;
        .login_button{
            background-image: $btn-color;
            padding: 2px 30px;
            border-radius:30px;
            ion-icon{
                &.icon-md,&.icon-ios{
                    padding: 0;
                }
            }

        }
    }
    }
}
}
}
