// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$color1:#ffffff;
$color2: #F7721C;
$color3: #eeeeee;
$color4: #f89045;
$color5: #ffddc4;
$color6: #e0b595;
$color12: #e0b595;
$bg:#eeeeee;
$bg-color: linear-gradient(to left, #fd281c, #fc4219, #fa5417, #f96318, #f7711b);
$primary: #fd281c;
$secondary: #f77d32;
$color6: rgb(84, 214, 84);
$color7:rgb(236, 57, 57);
$color8:transparent;
$color9:#000000;
$color10: #4d4c4c;
$color11: #e9e9e9;
$bag_desc: linear-gradient(to bottom, #da8546, #dc9159, #de9d6d, #dfa981, #e0b595);
$btn-color: linear-gradient(to right, #f5680e, #f7792b, #f59152, #f9ab7b, #f9a773);
$gradient-color:linear-gradient(to right, #f7711b -35%, #ddcdcd 128%);
.font_family_ta {
    font-family: 'suntommy_2' !important;
    font-size: 12px !important;
}

@font-face {
    font-family: 'suntommy_2';
    src: url('../assets/fonts/suntommy_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ion-header {
    .toolbar {
        //   height:180%;
        .toolbar-background {
            background: $bg;
            // background-color: $color4;
            border: none;
        }
        button,
        .toolbar-title {
            color: $primary;
            text-transform: capitalize;
        }
    }
}
.toolbar-content {
    &.toolbar-content-ios,
    &.toolbar-content-md {
        .toolbar-title-ios,
        .toolbar-title-md {
            text-align: center!important;
            .img_logo {
                width: 150px;
            }
        }
    }
}
ion-fab {
    .fab-ios-secondary,
    .fab-md-secondary {
        box-shadow: 0 4px 10px darken($color3, 50%);
        padding: 12px;
        // animation: fadeIn 0.5s linear;
        .button-inner {
            [fab_logo] {
                width: 100%;
            }
        }
    }
    .fab-list-active .fab-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($color9, 0.5);
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    &[bottom] {
        z-index: 70;
    }
    ion-fab-list {
        [fab_label] {
            position: relative;
            button {
                &[ion-fab] {
                    text-align: center;
                    overflow: visible;
                }
            }
            div.label {
                position: absolute;
                right: 48px;
                top: 10px;
                background: rgba($color1, 1);
                height: 24px;
                white-space: nowrap;
                width: auto;
                line-height: 16px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 8px;
                border-radius: 5px;
                box-shadow: 0 4px 6px 0 rgba($color9, 0.14), 0 4px 5px rgba($color9, 0.1);
            }
        }
    }
    .button-inner {
        overflow: visible;
    }
}
ion-fab[right] {
    right: 18px;
    right: calc(18px + env(safe-area-inset-right));  
}
ion-fab {
    .fab-ios-primary,
    .fab-md-primary {
        box-shadow: 0 4px 10px darken($color3, 50%);
        padding: 10px;
        width: 4rem;
        height: 4rem;
        bottom: 0.5rem;
        right: 1rem;
        animation: fadeIn 0.5s linear;
        .button-inner {
            [fab_logo] {
                width: 100%;
            }
        }
        .fab-close-icon {
            line-height: 43px;
        }
    }
    .fab-list-active .fab-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($color9, 0.5);
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    &[bottom] {
        z-index: 70;
    }
    ion-fab-list {
        [fab_label] {
            position: relative;
            button {
                &[ion-fab] {
                    text-align: center;
                    overflow: visible;
                }
            }
            div.label {
                position: absolute;
                right: 48px;
                top: 10px;
                background: rgba($color1, 1);
                height: 24px;
                white-space: nowrap;
                width: auto;
                line-height: 16px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 8px;
                border-radius: 5px;
                box-shadow: 0 4px 6px 0 rgba($color9, 0.14), 0 4px 5px rgba($color9, 0.1);
            }
        }
    }
    .fab-md-primary {
        color: #fff;
        background-color: #fc4219;
    }
    .button-inner {
        overflow: visible;
    }
}

.ion-fab-primary {
    .label-primary {
        position: absolute;
        bottom: 5px;
        right: 60px;
        background: #ffffff;
        border-radius: 5px;
        padding: 0.5rem;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    }
    ion-fab-list {
        margin: 10.4rem 0;
        ion-fab-list[side=top] {
            top: auto;
            bottom: -30px;
        }
        [fab_label] {
            div.label {
                position: absolute;
                padding: 3rem;
                right: 45px;
                top: 45px;
                background: #ffffff;
                height: 50px;
                white-space: nowrap;
                width: auto;
                line-height: 16px;
                /* padding-left: 8px; */
                /* padding-right: 8px; */
                padding-top: 17px;
                padding-bottom: 17px;
                /* margin-top: 8px; */
                border-radius: 5px;
                -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.alert-md,
.alert-ios {
    .alert-head {
        background: $bg-color;
        color: $color1;
        padding: 12px 0px 12px;
        text-align: center;
        .alert-sub-title {
            background-color: $color1;
            color: $color10;
            padding: 10px;
            margin-bottom: -12px;
        }
    }
    .alert-message {
        &:empty {
            padding: 0;
        }
    }
}

ion-menu {
    .menu-inner {
        ion-header {
            .toolbar {
                .toolbar-background {
                    background: $color1;
                    border: none;
                }
                &[logo] {
                    position: relative;
                    top: 0;
                    left: 0;
                    right: 0;
                    // text-align: center;
                    background-image: none;
                    height: 100px;
                    img {
                        padding: 15px;
                        width: 250px;
                        height: auto;
                    }
                }
            }
        }
        ion-content {
            &.content-md,
            &.content-ios {
                background-color: $color1;
                ion-list {
                    &.list-md,
                    &.list-ios {
                        ion-icon {
                            &.icon-md,
                            &.icon-ios {
                                background: $bg-color;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                &:before {
                                    display: initial;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.font_size {
    font-size: 14px;
}

ion-content {
    &.content-md,
    &.content-ios {
        background-color: $color3;
    }
}

.error .toast-wrapper {
    background: $color7;
    text-transform: capitalize !important;
    font-weight: bold;
}

.no_record {
    padding: 10px;
    text-align: center;
}

.success .toast-wrapper {
    background: $color6;
    text-transform: capitalize!important;
    font-weight: bold;
}

.no_record_found {
    box-shadow: 0px 0px 6px $color7;
    text-transform: capitalize;
}

.loading-ios,
.loading-md {
    &.customclass {
        .loading-wrapper {
            background-color: transparent!important;
            max-width: 160px;
            box-shadow: unset;
        }
    }
}

.show_loader {
    text-align: center;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

ion-footer {
    &.footer-md,
    &.footer-ios {
        .toolbar-background-md,
        .toolbar-background-ios {
            background: $color1;
        }
        .bar-buttons-md,
        .bar-buttons-ios {
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
            padding-left: 7px;
            ion-icon {
                &.icon-md,
                &.icon-ios {
                    line-height: 1;
                    background: $bg-color;
                    background-clip: text;
                    float: left;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    &:before {
                        display: initial;
                    }
                }
            }
        }
        p {
            text-align: right;
            padding: 0px 10px;
            font-size: 10px;
            color: $color9;
            text-transform: uppercase;
             :hover {
                color: $primary;
            }
        }
    }
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .modal_overlay {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.modal_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color9, 0.7);
    width: 100%;
    height: 100%;
    z-index: 111;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.2s linear;
    animation: fadeIn 0.2s;
    .header {
        width: 100%;
        height: 10%;
        display: flex;
        .title {
            width: 80%;
            left: 0;
            text-align: left;
            padding: 20px;
            font-size: 20px;
            color: $color1;
        }
        .close_button {
            right: 0;
            width: 20%;
            text-align: center;
            button {
                &.button-ios,
                &.button-md {
                    border-radius: 25px;
                    width: 50px;
                    height: 50px;
                    background: $color8;
                    color: $primary;
                    font-size: 25px;
                    box-shadow: unset;
                }
            }
        }
    }
    .body {
        width: 100%;
        height: 90%;
        margin: 0 auto;
        text-align: center;
        padding-top: 30%;
        button {
            &.button-ios,
            &.button-md {
                width: 80%;
                margin: 30px auto;
                height: 60px;
                text-align: center;
                background: $bg-color;
                border-radius: 25px;
                font-size: 18px;
            }
        }
    }
}

// .list_color1
// {
//   font-size: 9px;  
// }
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.postad{
    text-align: center;
    margin-top: 12px;
}
.bottom-fab-or2 {
    bottom: 1.5rem;
    .label-primary {
        position: absolute;
        bottom: 8px;
        right: 60px;
        background: #e0dfdf;
        border-radius: 5px;
        width: 75px;
        height: 40px;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    }
}