<ion-menu [content]="Nav" type="overlay">
    <ion-header no-border>
        <ion-toolbar logo>
            <img class="img_logo" src="assets/imgs/logo-1.png" alt="Eastern Deals">
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list no-lines>
            <button menuClose ion-item *ngFor="let p of pages" tappable (click)="openPage(p)" [hidden]="p.title == 'Enquiry'">
        <ion-icon name="{{p.icon}}" item-start ></ion-icon>
        <b class="font_size" >{{p.title}}</b>
      </button>
            <button menuClose ion-item tappable (click)="logout()" *ngIf="customer_id != null">
        <ion-icon name="log-out" item-start></ion-icon>
        <b class="font_size">{{languageheader.logout}}</b>
      </button>
        </ion-list>
    </ion-content>
    <ion-footer no-border>
        <ion-toolbar>
            <ion-buttons start>
                <button ion-button icon-only clear (click)="open_modal()">
                      <ion-icon name="globe"></ion-icon>
                    </button>
                <!-- <button ion-button icon-only clear (click)="socialSharing_()"><ion-icon name="share"></ion-icon></button> -->
            </ion-buttons>


            <p>version {{appversionno}}</p>
        </ion-toolbar>
    </ion-footer>
</ion-menu>
<div *ngIf="show_overlay" class="modal_overlay">
    <div class="header">
        <div class="title">
            <!-- Language Setting -->
        </div>
        <div class="close_button">
            <button ion-button icon-only (click)="close_modal()">
                        <ion-icon name="close"></ion-icon>
                      </button>
        </div>
    </div>
    <div class="body">

        <button ion-button block (click)="language_code(list.code)" *ngFor="let list of languagelist">{{list.name}}</button>

    </div>
</div>



<ion-fab right class='bottom-fab-or2' *ngIf="hidefab" #fab>
    <button ion-fab color="secondary"><img src="assets/imgs/fab_logo.png" fab_logo /></button>
    <div class="label-primary">
        <p class="postad">Post Ad</p>
    </div>
    <ion-fab-list side="top">
        <div class="fab-backdrop"></div>
        <div fab_label tappable (click)="call_support(fab)">
            <button ion-fab color="secondary">
        <ion-icon name="call"></ion-icon>
      </button>
            <div class="label">{{languageheader.support}}</div>
        </div>
        <div fab_label tappable (click)="check_role_present(fab)">
            <button ion-fab color="secondary">
        <ion-icon name="create"></ion-icon>
      </button>
            <div class="label">{{languageheader.post}}</div>
        </div>
    </ion-fab-list>
</ion-fab>
<!-- <ion-fab class="ion-fab-primary" bottom right *ngIf="hidefab" #fab>
    <button ion-fab color="primary"><img src="assets/imgs/eye.png" fab_logo /></button>
    <div class="label-primary">Viewers</div>
    <ion-fab-list side="top">
        <div class="fab-backdrop"></div>
        <div fab_label tappable>

            <div class="label">Viewers - {{usercount}}</div>
        </div>
    </ion-fab-list>
</ion-fab> -->
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #Nav swipeBackEnabled="false"></ion-nav>