page-search {
    ion-content {
        .searchbar-md,
        .searchbar-ios {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            .searchbar-input {
                border-bottom: 1px solid $secondary;
                box-shadow: 0 1px 0 0 $secondary;
                border-radius: 0;
                background-color: transparent;
            }

        }

        .recent_deals {
            color: $secondary;
        }
        .deals {
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
        }
        .grid {
            .recent {
                background: $color4;
                color: $color1;
                margin-bottom: 10px;
                font-size: 20px;
            }
            .crd {
                // box-shadow: 0 4px 8px 0 rgba(143, 143, 143, 0.2), 0 6px 20px 0 rgba(88, 86, 86, 0.19);
                background: $color1;
                margin: 5px;
                border-radius: 5px;
                overflow: hidden;
                .deals_1 {
                    height: 20rem;
                    width: 100%;
                    margin: 0px;
                    object-fit: cover;
                    object-position: center;
                    background-color: lighten($color10, 70%);
                    overflow: hidden;
                }
                p {
                    padding-left: 8px;
                    margin: 1px 0;
                    padding-right: 8px;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                }
                .price_tag {
                    font-size: 14px;
                }
                .cap {
                    text-transform: capitalize;
                }
                .posted_date {
                    color: lighten($color10, 20%);
                    text-align: right;
                    font-size: 12px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                ion-icon {
                    color: $color2;
                    padding-left: 3px
                }
                .location {
                    color: lighten($color9, 30%);
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
        .font_family_1_ta {
            font-family: 'suntommy_2' !important;
            font-size: 10px !important;
        }
    }
}