<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button menuToggle start>
      <ion-icon name="md-menu"></ion-icon>
    </button>
        <ion-title><img class="img_logo" src="assets/imgs/logo-1.png" alt="Eastern Deals"></ion-title>

        <ion-buttons end>
            <button ion-button end icon-only (click)="seachbar()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
        <!-- <div class="form-wrapper">
           
            <ion-searchbar [(ngModel)]="master_search">
            </ion-searchbar>
            <button (click)="getList(lang_code_1)">
              <ion-icon name="search" ></ion-icon>
            </button>
        </div> -->

        <!-- {{master_search}} -->
        <ion-buttons end *ngIf="value != 0">
            <!-- '  -->
            <button ion-button icon-only tappable (click)="notification()">
        <ion-icon name="notifications"></ion-icon>
        <!-- <ion-badge id="cart-badge" ></ion-badge> -->
        <span *ngIf="count != 0"  class="badge">{{count}}</span>
        <!--  -->
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>

    <!-- <ion-fab right middle>
    <div class="fab_1"  (click)="search()">
      <div><b>E</b></div>
      <br>
      <div><b>S</b></div>
      <br>
      <div><b>T</b></div>
      </div>
      <div option *ngIf="show_1"  >
        <div *ngFor="let list of languagelist">
        <p class="lang" (click)="language_code(list.code)">{{list.name}}</p>

        </div>
        
      </div>
</ion-fab> -->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-row text-center class="padd_catg">
        <ion-col class="icon-list" col-3 tappable *ngFor="let list of categories | slice:0:totalcount" (click)="category(list.id,list.category)">
            <img class="img_icon" src="{{icon_img+list.main_image}}" alt="image not found">
            <p [ngClass]="{'caps_1':lang_code_1 == 'en' ,'font_family_ta_1':lang_code_1 == 'ta'}">{{list.category}}</p>
        </ion-col>
        <ion-col class="icon-list" col-3 *ngIf="categories.length >= 7 && show" tappable (click)="more_category()">
            <ion-icon class="icon_size" name="arrow-dropdown-circle"></ion-icon>
            <!-- <p [ngClass]="{'caps_1':lang_code_1 == 'en' ,'font_family_ta_1':lang_code_1 == 'ta'}">{{languagefield.more}}</p> -->
        </ion-col>
        <ion-col class="icon-list" col-3 *ngIf="more" tappable (click)="more_category_1()">
            <!-- <img class="img_icon" src="assets/imgs/forward.png" alt="image not found" /> -->
            <ion-icon class="icon_size" name="arrow-dropup-circle"></ion-icon>
            <!-- <p [ngClass]="{'caps_1':lang_code_1 == 'en' ,'font_family_ta_1':lang_code_1 == 'ta'}">{{languagefield.less}}</p> -->
        </ion-col>
    </ion-row>
    <!-- ***************** googolr translator************** -->
    <!-- <div id="google_translate_element"></div> -->
    <!-- ******************************************************************** -->
    <!-- </ion-grid> -->
    <!-- =============================image======================================= -->
    <!-- <div single_img>
    <img src="{{img+singleImage}}" alt="image not found"/>
  </div> -->
    <!-- =================================slide========================================= -->
    <ion-slides class="slide_size" *ngIf="slider.length > 1 && slider.length != undefined" autoplay="3000" loop="true" speed="{{speed}}">
        <ion-slide *ngFor="let slide of slider">
            <img [src]="img+slide.main_image" class="slide-image" />
        </ion-slide>
    </ion-slides>
    <div *ngIf="slider.length != undefined && slider.length == 1">
        <div *ngFor="let slide of slider">
            <img [src]="img+slide.main_image" single_slider class="slide-image" />
        </div>
    </div>
    <div class="recent_deals">
        <ion-card *ngIf="!homePost" class="no_record_found">
            <h3 padding text-center [ngClass]="{'font_family_ta':code == 'ta'}">{{languagefield.no_records_found}}</h3>
        </ion-card>
        <!-- <div *ngIf="homePost.length == 0" class="show_loader">
            <ion-spinner name="crescent"></ion-spinner>
        </div> -->
        <ion-grid>
            <div class="recent" padding text-left *ngIf="homePost.length != 0 && homeTitle != null " [ngClass]="{'font_family_ta':lang_code_1 == 'ta'}">{{homeTitle.home_category}}</div>
            <!-- ===================================post1================================= -->
            <ion-row>
                <div *ngFor="let homePage of homePost" [ngStyle]="{'width':homePage.banner_name == 'Home Center Horizontal' ? '100%' : (homePage.banner_name == 'Home Center Portrait') ? '100%' : '47%'}" [ngClass]="{'crd':homePage.post_status == 'Published'}">
                    <!-- [ngClass]= "{'crd':homePage.post_status == 'Published'}" -->
                    <!-- [ngClass]="homePage == 0 ? '--' : 'crd'" -->
                    <div tappable (click)="description(homePage.id)" *ngIf="homePage.post_status == 'Published'">
                        <img class="deals_1" *ngIf="homePage.primary_image != null" src="{{img+homePage.primary_image}}" />
                        <img class="deals_1" *ngIf="homePage.primary_image == null" src="assets/imgs/no_image_placeholder.jpg" />
                        <p class="cap"><b>{{homePage.title}}</b></p>
                        <p class="price_tag" *ngIf="homePage.post_price != null && homePage.post_price != '0.00' && homePage.post_price != undefined">
                            {{homePage.post_price | currency:'රු ':'symbol':'1.0-2'}}
                        </p>
                        <p class="location" text-capitalize>
                            <ion-icon name="pin"></ion-icon> {{homePage.area_name}}
                        </p>
                        <p class="posted_date">{{homePage.poster_date}}</p>
                    </div>
                    <div *ngIf="homePage == 0">
                    </div>
                    <div *ngIf="homePage.banner_name == 'Home Center Horizontal'">
                        <div single_img tappable>
                            <img src="{{img}}{{homePage.main_image}}" alt="image not found" />
                        </div>
                    </div>

                    <!-- <div *ngIf="vertical.length == 2">
          <div *ngIf="homePage.banner_name == 'Home Center Portrait'" tappable>
            <img src="{{img}}{{homePage.main_image}}" class="portrait_image" alt="image not found" width="49%"  height="220px"/>
          </div>
          </div> -->
                    <div *ngIf="homePage.banner_name == 'Home Center Portrait'">
                        <div *ngIf="homePage.data.length == 1">
                            <span *ngFor="let portrait of homePage.data" text-center>
                <img src="{{img}}{{portrait.main_image}}" class="portrait_image_1" alt="image not found" width="50%" height="200px" />
              </span>
                        </div>
                        <span *ngIf="homePage.data.length > 1">
          
              <ion-row>
                <ion-col col-6 *ngFor="let portrait of homePage.data">
          
                  <img src="{{img}}{{portrait.main_image}}" alt="image not found" width="100%" height="200px" />
                </ion-col>
              </ion-row>
          
            </span>
                    </div>

                    <!-- <div text-center>
             <div  *ngIf="homePage.banner_name == 'Home Center Portrait'" tappable>
              <img src="{{img}}{{homePage.main_image}}" class="portrait_image" alt="image not found" width="98%" height="220px" />
          </div>
          </div> -->
                </div>
            </ion-row>
        </ion-grid>
    </div>
    <ion-card *ngIf="showEndPage">
        <h3 padding text-center>
            No More to Load
        </h3>
    </ion-card>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>