page-homepage {
    .form-wrapper {
        // position: relative;
        margin-top: -15px;
        .searchbar-md,
        .searchbar-ios {
            display: inline;
            .searchbar-input {
                width: 70%;
                height: 30px;
                padding: 10px 5px;
                float: left;
                // font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
                border: 0;
                background: $color1;
                // -moz-border-radius: 3px 0 0 3px;
                // -webkit-border-radius: 3px 0 0 3px;
                // border-radius: 3px 0 0 3px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                // border-top-right-radius: 20px;
                // border-bottom-right-radius: 20px;
                // display: none;
                box-shadow: 0 5px 5px -5px #333;
                // position: absolute;
            }
            .searchbar-search-icon {
                display: none;
            }
            .searchbar-md-cancel,
            .searchbar-ios-cancel,
            .searchbar-clear-icon {
                display: none;
                width: 0;
                height: 0;
            }
        }
        button {
            overflow: visible;
            position: absolute;
            // left: 122px;
            // top: -40px;
            right: 70px;
            // float: right;
            border: 0;
            padding: 0;
            cursor: pointer;
            height: 30px;
            padding: 4px 10px;
            font-size: 20px;
            // width: 110px;
            color: $color1;
            text-transform: uppercase;
            background: $secondary;
            margin-top: 0;
            // border-radius: 0 3px 3px 0;
            // border-radius: 50px;
            // border: 1px solid $color1;
        }
    }
    .icon-list {
        border: 1px solid $color3;
        background-color: $color1;
        p {
            margin: 0px;
            font-size: 11px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .icon_size {
        height: 3.5rem;
        font-size: 38px;
        color: $color2;
        margin-bottom: 5px;
    }
    .img_icon {
        width: 45%;
        height: 3.5rem;
        object-fit: contain;
        object-position: center;
    }
    [single_img] {
        img {
            width: 100%;
            height: 200px;
            padding: 10px;
            background-color: lighten($color10, 70%);
        }
    }
    // *************image slider *************
    ion-slides {
        position: relative;
        margin-top: 5px;
        padding: 0;
        &.slide_size {
            width: 100%;
            height: 200px;
            object-fit: fill;
            background-color: lighten($color10, 70%);
        }
        .swiper-slide {
            img {
                width: 100%;
                height: 200px;
                object-fit: fill;
                background-color: lighten($color10, 70%);
            }
        }
        .swiper-pagination {
            &.swiper-pagination-bullets {
                bottom: 30px;
                .swiper-pagination-bullet-active {
                    filter: drop-shadow(0px 0px 3px $color2);
                    background: $color2;
                }
            }
        }
    }
    .recent_deals {
        padding-left: 5px;
        padding-right: 5px;
    }
    .deals {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .grid {
        .recent {
            background: $color1;
            color: $primary;
            margin-bottom: 10px;
            font-size: 20px;
            text-shadow: 2px 1px 4px $secondary;
            text-transform: uppercase;
        }
        .crd {
            // box-shadow: 0 4px 8px 0 rgba(143, 143, 143, 0.2), 0 6px 20px 0 rgba(88, 86, 86, 0.19);
            background: $color1;
            margin: 5px;
            border-radius: 5px;
            overflow: hidden;
            .deals_1 {
                height: 20rem;
                width: 100%;
                margin: 0px;
                object-fit: cover;
                object-position: center;
                background-color: lighten($color10, 70%);
                overflow: hidden;
                -webkit-transition: opacity 1s ease-in-out;
                -moz-transition: opacity 1s ease-in-out;
                -o-transition: opacity 1s ease-in-out;
                transition: opacity 1s ease-in-out;
            }
            p {
                padding-left: 8px;
                margin: 1px 0;
                padding-right: 8px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
            }
            .price_tag {
                font-size: 14px;
            }
            .cap {
                text-transform: capitalize;
            }
            .posted_date {
                color: lighten($color10, 20%);
                text-align: right;
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            ion-icon {
                color: $color2;
                padding-left: 3px
            }
            .location {
                color: lighten($color9, 30%);
                font-size: 12px;
                margin-top: 5px;
            }
        }
    }
    [single_img_2] {
        img {
            width: 100%;
            height: 200px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .padd_catg {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    ion-fab[bottom] {
        right: -1px !important;
    }
    .login_button {
        background-image: $bg-color;
        border-radius: 30px;
        text-transform: capitalize;
        height: 3.2rem;
        font-size: 12px;
    }
    .toolbar-content {
        &.toolbar-content-ios,
        &.toolbar-content-md {
            .toolbar-title-ios,
            .toolbar-title-md {
                text-align: center!important;
                .img_logo {
                    width: 150px;
                }
            }
        }
    }
    .badge {
        color: $color7;
        font-size: 10px;
        margin-top: -14px;
        margin-left: -6px;
        background: $color1;
        border-radius: 35px;
        width: 17px;
        height: 16px;
        padding-top: 3px;
    }
    .portrait_image {
        margin-top: 5px;
        margin-right: 3px;
        margin-left: 7px;
    }
    .portrait_image_1 {
        margin-top: 5px;
        margin-left: 92px;
    }
    [single_slider] {
        width: 100%;
        height: 180px;
        padding-top: 10px;
    }
    .caps_1 {
        text-transform: capitalize;
    }
    .fab_1 {
        padding: 10px;
        color: #fff;
        background-color: #fc4219;
        border-radius: 10px;
        position: relative;
        left: 33px;
    }
    [option] {
        position: relative;
        right: 25px;
        bottom: 122px;
    }
    .lang {
        background: #fab68d;
        padding: 7px;
        border-radius: 10px;
        font-size: 11px;
    }
    .list {
        color: red;
    }
    .font_family_ta_1 {
        //  font-family: 'suntommy_2' !important;
        font-size: 12px !important;
    }
    .notification {
        display: inline-block;
        position: relative;
        padding: 0.6em;
        background: #3498db;
        border-radius: 1.5rem;
        font-size: 1.3em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        &::before {
            color: #fff;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            display: block;
            content: "\f06e";
            font-family: "FontAwesome";
            transform-origin: top center;
        }
        &::after {
            color: #fff;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            font-family: Arial;
            font-size: 0.7em;
            font-weight: 700;
            position: absolute;
            top: -15px;
            right: -15px;
            padding: 5px 8px;
            line-height: 100%;
            border: 2px #fff solid;
            border-radius: 60px;
            background: #3498db;
            opacity: 0;
            content: attr(data-count);
            opacity: 0;
            transform: scale(0.5);
            transition: transform, opacity;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }
    }
    .notification.notify {
        &::before {
            animation: ring 1.5s ease;
        }
    }
    .notification.show-count {
        &::after {
            transform: scale(1);
            opacity: 1;
        }
        @keyframes ring {
            0% {
                transform: rotate(35deg);
            }
            12.5% {
                transform: rotate(-30deg);
            }
            25% {
                transform: rotate(25deg);
            }
            37.5% {
                transform: rotate(-20deg);
            }
            50% {
                transform: rotate(15deg);
            }
            62.5% {
                transform: rotate(-10deg);
            }
            75% {
                transform: rotate(5deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }



    }
    













}